.idea/ParseTree.iml
cmake-build-debug/libParseTree.a
cmake-build-debug/ParseTree.cbp
cmake-build-debug/CMakeFiles/ParseTree.dir/build.make
cmake-build-debug/CMakeFiles/ParseTree.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/ParseTree.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/ParseTree.dir/CXX.includecache
cmake-build-debug/CMakeFiles/ParseTree.dir/depend.internal
cmake-build-debug/CMakeFiles/ParseTree.dir/depend.make
cmake-build-debug/CMakeFiles/ParseTree.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/ParseTree.dir/flags.make
cmake-build-debug/CMakeFiles/ParseTree.dir/link.txt
cmake-build-debug/CMakeFiles/ParseTree.dir/progress.make
cmake-build-debug/CMakeFiles/ParseTree.dir/Symbol.cpp.o
cmake-build-debug/fileList.txt
cmake-build-debug/TestTreeBank
cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/ParseTree.dir/NodeCollector.cpp.o
cmake-build-debug/CMakeFiles/ParseTree.dir/ParseNode.cpp.o
cmake-build-debug/CMakeFiles/ParseTree.dir/ParseTree.cpp.o
cmake-build-debug/CMakeFiles/ParseTree.dir/TreeBank.cpp.o
cmake-build-debug/CMakeFiles/ParseTree.dir/NodeCondition/IsEnglishLeaf.cpp.o
cmake-build-debug/CMakeFiles/ParseTree.dir/NodeCondition/IsLeaf.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/build.make
cmake-build-debug/CMakeFiles/TestTreeBank.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/TestTreeBank.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/TestTreeBank.dir/CXX.includecache
cmake-build-debug/CMakeFiles/TestTreeBank.dir/depend.internal
cmake-build-debug/CMakeFiles/TestTreeBank.dir/depend.make
cmake-build-debug/CMakeFiles/TestTreeBank.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/TestTreeBank.dir/flags.make
cmake-build-debug/CMakeFiles/TestTreeBank.dir/link.txt
cmake-build-debug/CMakeFiles/TestTreeBank.dir/NodeCollector.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/ParseNode.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/ParseTree.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/progress.make
cmake-build-debug/CMakeFiles/TestTreeBank.dir/Symbol.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/TestTreeBank.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/TreeBank.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/NodeCondition/IsEnglishLeaf.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/NodeCondition/IsLeaf.cpp.o
cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/
/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/
/cmake-build-debug/CMakeFiles/3.16.5/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.16.5/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.16.5/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/TestTreeBank.dir/ConstituentSpan.cpp.o
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.17.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/Test.dir/
/cmake-build-debug/Test
cmake-build-debug/CMakeFiles/3.19.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.19.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/a.out
/cmake-build-debug/.cmake/api/v1/
/cmake-build-debug/CMakeFiles/3.21.1/
