.idea/ParseTree.iml
cmake-build-debug/libParseTree.a
cmake-build-debug/ParseTree.cbp
cmake-build-debug/CMakeFiles/ParseTree.dir/build.make
cmake-build-debug/CMakeFiles/ParseTree.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/ParseTree.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/ParseTree.dir/CXX.includecache
cmake-build-debug/CMakeFiles/ParseTree.dir/depend.internal
cmake-build-debug/CMakeFiles/ParseTree.dir/depend.make
cmake-build-debug/CMakeFiles/ParseTree.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/ParseTree.dir/flags.make
cmake-build-debug/CMakeFiles/ParseTree.dir/link.txt
cmake-build-debug/CMakeFiles/ParseTree.dir/progress.make
cmake-build-debug/CMakeFiles/ParseTree.dir/Symbol.cpp.o
cmake-build-debug/fileList.txt
cmake-build-debug/TestTreeBank
cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/ParseTree.dir/NodeCollector.cpp.o
cmake-build-debug/CMakeFiles/ParseTree.dir/ParseNode.cpp.o
cmake-build-debug/CMakeFiles/ParseTree.dir/ParseTree.cpp.o
cmake-build-debug/CMakeFiles/ParseTree.dir/TreeBank.cpp.o
cmake-build-debug/CMakeFiles/ParseTree.dir/NodeCondition/IsEnglishLeaf.cpp.o
cmake-build-debug/CMakeFiles/ParseTree.dir/NodeCondition/IsLeaf.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/build.make
cmake-build-debug/CMakeFiles/TestTreeBank.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/TestTreeBank.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/TestTreeBank.dir/CXX.includecache
cmake-build-debug/CMakeFiles/TestTreeBank.dir/depend.internal
cmake-build-debug/CMakeFiles/TestTreeBank.dir/depend.make
cmake-build-debug/CMakeFiles/TestTreeBank.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/TestTreeBank.dir/flags.make
cmake-build-debug/CMakeFiles/TestTreeBank.dir/link.txt
cmake-build-debug/CMakeFiles/TestTreeBank.dir/NodeCollector.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/ParseNode.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/ParseTree.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/progress.make
cmake-build-debug/CMakeFiles/TestTreeBank.dir/Symbol.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/TestTreeBank.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/TreeBank.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/NodeCondition/IsEnglishLeaf.cpp.o
cmake-build-debug/CMakeFiles/TestTreeBank.dir/NodeCondition/IsLeaf.cpp.o
